.container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
  align-content: center;
}

.no-post-info {
  text-align: center;
  margin: auto;
  border-radius: var(--size-2);
  outline: 0.14rem solid var(--color-error);
  border-radius: 1rem;
  width: 90%;
  max-width: 20rem;
}

.no-post-info p {
  font-size: 1.25rem;
  padding: 0.8rem;
  color: var(--color-error);
  font-weight: 600;
}
