.fixed {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: var(--border) solid #e5e7eb;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 10;
}

.navbar {
  height: var(--size-16);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 80rem;
  margin: 0 auto;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.burger-button {
  color: var(--color-neutral);
  vertical-align: middle;
}

.mobile-posts-link {
  padding: 0.5rem;
  margin-right: 1rem;
}

.mobile-posts-link:hover {
  background-color: var(--color-base-300);
  border-radius: var(--size-2);
}

.logo h2 {
  padding: 0.5rem;
}

.logo h2:hover {
  background-color: var(--color-base-300);
  border-radius: var(--size-2);
}

.logo span {
  color: var(--color-primary);
}

.logo-icon {
  color: var(--color-primary);
  margin-bottom: -0.1rem;
  margin-right: 0.2rem;
}

.all-posts-link {
  display: none;
}

.all-posts-link h2 {
  padding: 0.5rem;
}

.all-posts-link h2:hover {
  background-color: var(--color-base-300);
  border-radius: var(--size-2);
}

.searchbar {
  position: relative;
  display: none;
}

.search {
  font-size: 0.875rem;
  border-radius: var(--size-2);
  border: none;
  height: var(--size-10);
  background-color: inherit;
  padding-left: 3rem;
  padding-right: 1rem;
}

.search-icon {
  position: absolute;
  color: var(--color-neutral);
  top: 22%;
  left: 5%;
}

@media (min-width: 40rem) {
  .navbar {
    justify-content: space-between;
  }

  .burger-button {
    display: none;
  }

  .searchbar {
    display: block;
  }

  .all-posts-link {
    display: block;
  }
}
