.fixed {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  height: var(--size-16);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  border-bottom: var(--border) solid #e5e7eb;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.hamburger {
  color: var(--color-neutral);
  vertical-align: middle;
  margin-right: var(--size-8);
}

.logo span {
  color: var(--color-primary);
}

.all-posts-link {
  display: none;
}

.searchbar {
  position: relative;
  display: none;
}

.search {
  font-size: 0.875rem;
  border-radius: var(--size-2);
  border: none;
  height: var(--size-10);
  background-color: inherit;
  padding-left: 3rem;
  padding-right: 1rem;
}

.search-icon {
  position: absolute;
  color: var(--color-neutral);
  top: 22%;
  left: 5%;
}

@media (min-width: 40rem) {
  .navbar {
    justify-content: space-around;
  }

  .hamburger {
    display: none;
  }

  .searchbar {
    display: block;
  }

  .all-posts-link {
    display: block;
  }
}
