.header {
  background-color: var(--color-base-200);
  height: var(--size-16);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.navbar-left-content {
  display: flex;
  align-items: center;
}

.hamburger {
  color: var(--color-neutral);
  vertical-align: middle;
  margin-right: 1rem;
}

.logo span {
  color: var(--color-primary);
}

.searchbar {
  position: relative;
}

.search {
  font-size: 0.875rem;
  border-radius: var(--size-2);
  /* border: var(--border) solid var(--color-base-300); */
  border: none;
  height: var(--size-12);
  background-color: inherit;
  padding-left: 3rem;
  padding-right: 1rem;
}

.search-icon {
  position: absolute;
  color: var(--color-neutral);
  top: 22%;
  left: 5%;
}
