.hero {
  text-align: center;
  padding: var(--size-8) 0;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: var(--size-12);
  margin: var(--size-4) 0;
  color: var(--color-base-content);
}

.hero p {
  font-size: var(--size-6);
  color: var(--color-neutral);
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

@media (min-width: 40rem) {
  .hero h1 {
    font-size: var(--size-16);
    margin: var(--size-4) 0;
  }
}
