.swiper {
  max-height: 20rem;
  background-color: #000;
}

.swiper-slider-div {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slider-text {
  color: var(--color-base);
  position: absolute;
  top: 15%;
  left: 0%;
  font-weight: 600;
  max-width: 90%;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
}
